#pageContent h1.pageHeading {
  color: #000;
  background-color:#fff;
  padding: 0em;
}

.headerImg {
  display: none; 
}

.secondaryNavigation {
  display: none; 
}

.primaryNavigation {
  display: none; 
}

.breadcrumbs {
  display: none;
}

.headerImgLinks {
  display: none;
}

#main nav {
  display: none;
}

.sidebar {
  display: none; 
}


#newsRelated {
  display: none; 
}

#social {
	display: none; 
}

.twitterFeed {
	display: none;
}

.relatedTopics {
  display: none; 
}

#footerSecNav{
  display: none; 
}

.MSMcredit{
 display: none; 
}

#footerNavigation{
display: none; 
}

.userNavigation{
display: none;
}

#xsltsearch {
display: none;
}

.homepage #xsltsearch {
display: none;
}

#credits ul {
display: none;
}

.slideshow-caption-container h3 {
  color: #000;
}

.slideshow-caption-container p {
  color: #000;
}

.page home {
  width: 100%;
  margin: 0;
  float: none;
}

.home #pageContent {
  width: 100%;
  margin: 0;
  float: none;
}

#pageContent {
  width: 100%;
  margin: 0;
  float: none;
  clear: both;
}

.searchbox {
	display: none;
}

#header {
	width: 100%;
}

#header img {
	display: none;
}

#title {
	float:left;
}

#title img {
	display: none;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
